(Information science and statistics) Christopher M. Bishop - Pattern Recognition and Machine Learning-Springer (2006).pdf
bilmes-em-algorithm.pdf
Free-Resolution_Probability_Distributions_Map-Base.pdf